/* Banner 1 */
.banner {
  width: 100vw;
  height: 230px;
  
  /* Positional css can change in the actual page layout */
  /* left: 1440px;
  top: 193px; */

  background: url("../img/Banner.jpg");
  transform: matrix(-1, 0, 0, 1, 0, 0);
}