@import url("./normalize.css");
#billing-form {
  background-color: #fff;
  color: #4d626e;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.625rem;
}
.billing-form-section-container input,
select {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0 0 1rem 0;
  padding: 0 0 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.85rem;
  color: #4d626e;
  border: none;
  border-bottom: 1px solid #4d626e;
  border-top: 1px solid #4d626e;
}
.billing-form-section-container input:focus {
  background-color: #d6e4e9;
}
::placeholder {
  color: #4d626e;
  font-size: 0.65rem;
  font-style: italic;
}
label {
  margin: 0 0 0.25rem 0.5rem;
  color: #4d626e;
  font-weight: 500;
  font-size: 0.75rem;
}
.billing-form-section-container .required-field {
  color: rgba(255, 0, 0);
}
@media screen and (min-width: 600px) {
  #billing-form {
    background-color: #ffffff;
    color: #4d626e;
    width: 100%;
    margin: 0.25rem auto;
    padding: 0 0.625rem;
    border-radius: 0.625rem;
  }
  .billing-form-section-container input,
  select {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1000px) {
  #billing-form {
    background-color: #fff;
    color: #4d626e;
    width: 100%;
    margin: 2rem auto;
    padding: 2 0.625rem;
    border-radius: 0.625rem;
  }
  .billing-form-section-container input,
  select {
    width: 100%;
    display: flex;
  }
}
