@import url("./normalize.css");

.contactform-overlay h2 {
  margin: 0 0 1rem 0;
  color: #ffffff;
  text-align: center;
  font-size:2rem;
}
.contactform-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a2;
  z-index: 2;
  cursor: pointer;
}
.overlayShow {
  display: block;
}
.contactform-overlay #contactForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #4d626e;
  border-radius: 15px;
  padding: 2.5%;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 25%;
}
.contactform-overlay input,.contactform-overlay textarea {
  width: 100%;
  height:30px;
  display: block;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  border: none;
  padding: 0.2rem 0 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 14px;
}
.contactform-overlay textarea {
  width: 100%;
  height: 25%;
  resize: vertical;
  overflow: auto;
  padding: 0.5rem 0 0.2rem 0.5rem;
}
.contactform-overlay ::placeholder{
  color:#4d626e;
}
.contactform-overlay input[type="text"]:focus {
  background-color: #d6e4e9;
}
.contactform-overlay textarea:focus {
  background-color: #d6e4e9;
}
.contactform-overlay #send {
  color: #4d626e;
  width: 125px;
  height: 38px;
  background: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-end;
  text-align:center;
  padding:0;
  border: none;
  margin:0;
}
.contactform-overlay label{
  margin:  0 0 .25rem .5rem;
  color: white;
  font-weight: 500;
  font-size:1.05rem;
}
.contactform-overlay #send:hover {
  background-color: #d6e4e9;
  cursor: pointer;
}

.contact-thanks-msg{
  color:white;
}