@import url("./normalize.css");

#credit-card-form {
  background-color: #fff;
  color: #4d626e;
  width: 90%;
  display: flex;
  margin: 1.25rem auto;
  padding: 0 0.625rem;
  border-radius: 0.625rem;
}
/* /* span {
  flex-direction: row;
  justify-items: flex-end;
  flex-flow: row nowrap;
  flex-wrap: nowrap;
} */
/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
} */
/* .card {
  flex: 0 1 24%;
  padding: 15px;
} */

.credit-card-form-section-container input {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0 0 1rem 0;
  padding: 0 0 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.85rem;
  color: #4d626e;
  border: none;
  border-bottom: 1px solid #4d626e;
  border-top: 1px solid #4d626e;
}
