@import url("./normalize.css");

#credit-card-form {
  background-color: #fff;
  color: #4d626e;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 1.25rem auto;
  padding: 0 0.625rem; */
  border-radius: 0.625rem;
}

/*=============================================
=            Card Icons Styling            =
=============================================*/
.cards-styling {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* To ensure credit card icon is inside input  */
.credit-icon {
  position: relative;
  padding: 0px;
  /* margin: 0 20px; */
  background: #ddd;
  /* Direction Right to Left */
  direction: rtl;
  /* width: 100px; */
}
#user-credit-number-id {
  height: 25px;
  /* margin: 0;
  padding: 25;
  padding-right: 0 px; */
  width: 100%;
}

#cc {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 15px;
  height: 15px;
} /* .credit-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
} */

/* .user-credit-number {
  width: 100%;
  padding: 10px;
  outline: none;
} */

/*=====  End of Card Icons Styling  ======*/

/*=============================================
=            CheckBox Credit-Save            =
=============================================*/

#credit-save-container {
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#credit-save-container input {
  width: 5%;
  margin: 0 0 1rem 0;
  padding: 0.75rem 0 0.25rem 0.75rem;
}

#credit-save-container label {
  width: 70%;
  justify-content: flex-start;
}

/*=====  End of CheckBox Credit-Save  ======*/

/*=============================================
=            Input fields Container            =
=============================================*/

.credit-card-form-section-container input {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0 0 1rem 0;
  padding: 0 0 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.85rem;
  color: #4d626e;
  border: none;
  border-bottom: 1px solid #4d626e;
  border-top: 1px solid #4d626e;
}

.credit-card-form-section-container input:focus {
  background-color: #d6e4e9;
}

::placeholder {
  color: #4d626e;
  font-size: 0.65rem;
  font-style: italic;
  text-align: left;
}

label {
  margin: 0 0 0.25rem 0.5rem;
  color: #4d626e;
  font-weight: 500;
  font-size: 0.75rem;
}
.credit-card-form-section-container .required-field {
  color: rgba(255, 0, 0, 0.5);
}

/*=====  End of Input fields Container  ======*/

/* Tablet */

@media screen and (min-width: 600px) {
  #credit-card-form {
    background-color: #fff;
    color: #4d626e;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 1.25rem auto;
    padding: 0 0.625rem; */
    border-radius: 0.625rem;
  }

  /*=============================================
  =            Card Icons Styling            =
  =============================================*/
  .cards-styling {
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* To ensure credit card icon is inside input  */
  .credit-icon {
    position: relative;
    padding: 0px;
    /* margin: 0 20px; */
    background: #ddd;
    /* Direction Right to Left */
    direction: rtl;
    /* width: 100px; */
  }
  #user-credit-number-id {
    height: 25px;
    /* margin: 0;
    padding: 25;
    padding-right: 0 px; */
    width: 100%;
  }

  #cc {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 15px;
    height: 15px;
  } /* .credit-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  } */

  /* .user-credit-number {
    width: 100%;
    padding: 10px;
    outline: none;
  } */

  /*=====  End of Card Icons Styling  ======*/

  /*=============================================
  =            CheckBox Credit-Save            =
  =============================================*/

  #credit-save-container {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #credit-save-container input {
    width: 5%;
    margin: 0 0 1rem 0;
    padding: 0.75rem 0 0.25rem 0.75rem;
  }

  #credit-save-container label {
    width: 70%;
    justify-content: flex-start;
  }

  /*=====  End of CheckBox Credit-Save  ======*/

  /*=============================================
  =            Input fields Container            =
  =============================================*/

  .credit-card-form-section-container input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0 0 1rem 0;
    padding: 0 0 0.25rem 0.75rem;
    border-radius: 15px;
    font-size: 0.85rem;
    color: #4d626e;
    border: none;
    border-bottom: 1px solid #4d626e;
    border-top: 1px solid #4d626e;
  }

  .credit-card-form-section-container input:focus {
    background-color: #d6e4e9;
  }

  ::placeholder {
    color: #4d626e;
    font-size: 0.65rem;
    font-style: italic;
    text-align: left;
  }

  label {
    margin: 0 0 0.25rem 0.5rem;
    color: #4d626e;
    font-weight: 500;
    font-size: 0.75rem;
  }
  .credit-card-form-section-container .required-field {
    color: rgba(255, 0, 0, 0.5);
  }
}

/* Laptop */

@media screen and (min-width: 1000px) {
  #credit-card-form {
    background-color: #fff;
    color: #4d626e;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 1.25rem auto;
    padding: 0 0.625rem; */
    border-radius: 0.625rem;
  }

  /*=============================================
  =            Card Icons Styling            =
  =============================================*/
  .cards-styling {
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* To ensure credit card icon is inside input  */
  .credit-icon {
    position: relative;
    padding: 0px;
    /* margin: 0 20px; */
    background: #ddd;
    /* Direction Right to Left */
    direction: rtl;
    /* width: 100px; */
  }
  #user-credit-number-id {
    height: 25px;
    /* margin: 0;
    padding: 25;
    padding-right: 0 px; */
    width: 100%;
  }

  #cc {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 15px;
    height: 15px;
  } /* .credit-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  } */

  /* .user-credit-number {
    width: 100%;
    padding: 10px;
    outline: none;
  } */

  /*=====  End of Card Icons Styling  ======*/

  /*=============================================
  =            CheckBox Credit-Save            =
  =============================================*/

  #credit-save-container {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #credit-save-container input {
    width: 5%;
    margin: 0 0 1rem 0;
    padding: 0.75rem 0 0.25rem 0.75rem;
  }

  #credit-save-container label {
    width: 70%;
    justify-content: flex-start;
  }

  /*=====  End of CheckBox Credit-Save  ======*/

  /*=============================================
  =            Input fields Container            =
  =============================================*/

  .credit-card-form-section-container input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0 0 1rem 0;
    padding: 0 0 0.25rem 0.75rem;
    border-radius: 15px;
    font-size: 0.85rem;
    color: #4d626e;
    border: none;
    border-bottom: 1px solid #4d626e;
    border-top: 1px solid #4d626e;
  }

  .credit-card-form-section-container input:focus {
    background-color: #d6e4e9;
  }

  ::placeholder {
    color: #4d626e;
    font-size: 0.65rem;
    font-style: italic;
    text-align: left;
  }

  label {
    margin: 0 0 0.25rem 0.5rem;
    color: #4d626e;
    font-weight: 500;
    font-size: 0.75rem;
  }
  .credit-card-form-section-container .required-field {
    color: rgba(255, 0, 0, 0.5);
  }
}
