@import url("./normalize.css");
#creditcard-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}
#credit-number-container,
#credit-exp-date-container,
#credit-save-container,
#credit-CVC-container {
  width: 100%;
  margin-top: 10px;
}
#checkboxes,
#checkbox-label {
  display: inline-block;
}
#checkboxes {
  margin-right: 5px;
}
#credit-card-form {
  background-color: #FFFFFF;
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4D626E;
  border-radius: 15px;
  padding-bottom: 10px;
  border-right: 1px solid #4D626E;
  padding: 1.5rem 1.5rem;
  border-left: 1px solid #4D626E;
  box-shadow: 1px 5px 5px 3px #888888;
}
.credit-card-form-section-container {
  display: flex;
  flex-direction: column;
}
.cards-styling {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.credit-icon svg {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0;
  transform: translateX(110px) translateY(-25px);
}
#user-credit-number-id {
  height: 35px;
  margin: 0;
  margin-top: 10px;
  padding: 25;
  padding-right: 0px;
  padding-left: 15px;
  width: 180px;
  display: block;
  border-radius: 15px;
  border-right: none;
  border-left: none;
}
#user-credit-expiry-id {
  width: 50%;
  height: 35px;
  padding-left: 15px;
  border-right: none;
  border-left: none;
  border-radius: 15px;
}
#user-credit-cvc-id {
  width: 35%;
  height: 35px;
  border-radius: 15px;
  border-right: none;
  border-left: none;
  padding-left: 15px;
}
#cc {
  width: 100px;
  height: 15px;
}
.credit-card-form-section-container select {
  height: 35px;
  width: min-content;
  border-radius: 15px;
  font-size: 0.85rem;
  color: #4D626E;
  border: none;
  border-bottom: 1px solid #4D626E;
  border-top: 1px solid #4D626E;
}
.credit-card-form-section-container input:focus {
  background-color: #D6E4E9;
}
.credit-card-form-section-container .required-field {
  color: rgba(255, 0, 0);
}
#credit-card-form input::placeholder {
  color: #4D626E;
  font-size: 0.65rem;
  font-style: italic;
  text-align: left;
}
#credit-card-form label {
  font-size: 1rem;
  font-weight: 500;
  color: #4D626E;
  margin-left: 12px;
}
#cc-exp-date-label,
#cc-cvc-label {
  display: block;
}
#cc-cvc-label {
  margin-top: 20px;
}
.credit-label {
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .cards {
    justify-content: flex-end;
  }
  #user-credit-number-id {
    width: 100%;
  }
  #user-credit-expiry-id {
    width: 100%;
  }
  #user-credit-cvc-id {
    width: 100%;
  }
  .credit-icon svg {
    transform: translateX(380px) translateY(-25px) scale(1.3);
  }
}