@import url("./normalize.css");
.react-datepicker__header {
  background-color: #4d626e;
}
.react-datepicker {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #ffffff;
}
.react-datepicker__day--selected {
  background-color: #4d626e;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #ffffff;
}
