@import url("./normalize.css");

#donation-form-container {
  background-color: #4D626E;
  color: #FFF;
  width: 90%;
  margin: 10px auto;
  padding: 0 10px;
  border-radius: 10px;
}
#donation-form-container > h1 {
  padding-top: 5px;
  margin: 10px 0;
}
.donation-form-section-container > h2 {
  margin-bottom: 5px;
}
.donation-form-section-container {
  border-top: 1px solid #FFF;
}
.donation-form-section-container > select,
.donation-form-section-container > input {
  width: 50%;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}
.donation-form-section-container > span {
  display: block;
}
.donation-form-section-container > span > input {
  margin-left: 5px;
  width: 45%;
  border-radius: 5px;
  margin-bottom: 10px;
}
#donation-message {
  width: 95%;
  display: block;
  height: 50px;
  margin-bottom: 15px;
}