@import url("./normalize.css");
#donation-form-container {
  background-color: #fff;
  color: #4d626e;
  width: 90%;
  margin: 20px auto;
  padding: 0 10px;
  border-radius: 15px;
  box-shadow: 1px 5px 5px 3px #888888;
}
#donation-form-container > h1 {
  padding-top: 5px;
  margin: 10px 0;
  text-align: center;
}
.donation-form-section-container > h2 {
  margin: 5px 0;
}
.donation-form-section-container {
  border-top: 1px solid #4d626e;
  margin-left: 12px;
  margin-right: 12px;
}
#donation-amount-container label {
  width: 100%;
  display: block;
}
#donation-amount-container select,
#donation-amount-id {
  height: 35px;
}
#donation-amount-container select {
  padding-top: 5px;
}
#donation-amount-id {
  width: 70%;
  padding-left: 15px;
  border-radius: 5px;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #4d626e;
  border-top: 1px solid #4d626e;
}
#donation-amount-label {
  padding-left: 10px;
}
#donation-amount-span > svg {
  transform: translateX(-25px) scale(1.5);
  color: #4d626e;
}
.donation-form-section-container select {
  width: 70%;
  height: 35px;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}
#donation-message-id::placeholder {
  padding-left: 10px;
}
.donation-form-section-container > span > input {
  margin-left: 5px;
  width: 45%;
  border-radius: 5px;
  margin-bottom: 10px;
}
#donation-message-id {
  width: 85%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 5px 5px;
}
#donation-submit-button-container {
  text-align: center;
}
#donation-submit-button {
  color: #FFF;
  background-color: #4d626e;
  border: solid #4d626e 4px;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}
.donation-form-section-container label {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 5px;
}
#fund-label {
  padding-bottom: 5px;
}
#fund-type-id {
  padding-top: 5px;
  margin-top: 5px;
}
.donationMsg {
  margin-top: 5px;
}
@media screen and (min-width: 600px) {
  #donation-form-container {
    width: 575px;
  }
  #donation-amount-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #donation-amount-input-container input,
  #donation-amount-container select {
    width: 210px;
  }
  #donation-amount-input-container {
    margin-left: 40px;
  }
  #fund-type-id {
    width: 95%;
  }
  #donation-message-id {
    width: 95%;
    height: 100px;
  }
  #donation-message-id::placeholder {
    padding-left: 0px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1000px) {
  #donation-form-container {
    width: 625px;
  }
  .donation-form-section-container {
    margin-left: 40px;
    margin-right: 40px;
  }
  #donation-amount-input-container input,
  #donation-amount-container select {
    width: 185px;
  }
}
