@import url("./normalize.css");
.msg-hide {
    display: none;
}
 
.msg-show{
    display: block;
    color: red;
}

.input-error {
    outline: 1px dashed rgba(255, 0, 0, 0.5);
}
.thanks-msg {
    color: black;
}