@import url("./normalize.css");

@media screen and (max-width: 1000px) {
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: rgba(183, 145, 87, 0.9);
    justify-content: center;
    text-align: center;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  #menu {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/LandingPage.jpg");
    background-size: cover;
    background-position: right;
    background-position-x: 45%;
  }
  .hide {
    display: none;
  }
  #menu > ul {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
  }
  #menu > ul > li > a,
  #menu > ul > li {
    text-decoration: none;
    color: #c1862c;
    margin: 0 90% 0 20%;
    list-style-type: none;
  }
  .menu-wrap span svg {
    width: 40px;
    height: 40px;
    color: #233d4c;
    padding: 0.5rem 0 0 0;
  }
}
