@import "./normalize.css";

/* * {
  outline: 1px solid black;
} */
.common-header {
  display: flex;
  flex-direction: column;
}
.common-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-header nav {
  flex-grow: 1;
}
.common-header div h1,
logo {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #4d626e;
  padding: 0 2rem 0 0;
}
.common-header ul {
  display: flex;
  align-items: center ;
}

.common-header ul li {
  list-style-type: none;
  display: inline;
  margin: 0 0.25rem 0.5rem .5rem;
  height:fit-content;
}
.common-header ul li a {
  text-decoration: none;
  color: #c1862c;
  font-weight: 700;
  font-size:18px;
  
}
.common-header nav ul li:nth-of-type(7) {
  margin-left: auto;
}
.common-header nav ul li:nth-of-type(7),
.common-header nav ul li:nth-of-type(8),
.common-header nav ul li:nth-of-type(9) {
  padding: 0.4rem 1rem;
  background: #1c3656;
  border-radius: 15px;


}
.common-header .right-side-buttons {
  color: #fff;
}
.common-header nav ul li:nth-of-type(1) {
  margin-left: .5rem;
}
.common-header nav ul li:nth-of-type(9) {
  margin-right: .5rem;
}
.common-header span {
  display: flex;
  justify-content: center;
}
