@import "./normalize.css";

.common-header {
  display: none;
}
.common-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-header nav {
  flex-grow: 1;
}
.common-header div h1 {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #4d626e;
  padding: 0 0 1rem 0;
  margin: 0 2rem 0 0 !important;
  text-shadow: 2px 2px rgba(77, 99, 111, 0.199);
}
.common-header #logo img {
  width: 300px;
  height: 200px;
  height: auto;
  margin-left: 10%;
}
.common-header ul {
  display: flex;
  align-items: center;
}
.common-header ul li {
  list-style-type: none;
  display: inline;
  margin: 0 0.25rem 0.5rem 0.5rem;
  height: fit-content;
}
.common-header ul li a {
  text-decoration: none;
  color: #c1862c;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
@media screen and (min-width: 1000px) {
  .common-header {
    display: flex;
    flex-direction: column;
  }
  .common-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .common-header nav {
    flex-grow: 1;
  }
  .common-header ul {
    display: flex;
    align-items: center;
  }
  .common-header ul li {
    list-style-type: none;
    display: inline;
    margin: 0 0.25rem 1rem 0.5rem;
    height: fit-content;
  }
  .common-header ul li a {
    display: block;
    text-decoration: none;
    color: #c1862c;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 2px 2px rgba(77, 99, 111, 0.199);
    padding: 0 0rem 0.5rem 0.5rem;
  }
  .common-header nav ul li:nth-of-type(7) {
    margin-left: auto;
  }
  .common-header nav ul li:nth-of-type(7),
  .common-header nav ul li:nth-of-type(8),
  .common-header nav ul li:nth-of-type(9) {
    background: #fff;
  }
  .common-header nav ul li:nth-of-type(7) a,
  .common-header nav ul li:nth-of-type(8) a,
  .common-header nav ul li:nth-of-type(9) a {
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid #1c3656;
    border-radius: 15px;
  }
  .common-header .right-side-buttons {
    color: #4d626e;
  }
  .common-header nav ul li:nth-of-type(1) {
    margin-left: 0.5rem;
  }
  .common-header nav ul li:nth-of-type(9) {
    margin-right: 1rem;
  }
  .common-header span {
    display: flex;
    justify-content: center;
  }
  .common-header .logo-container {
    display: flex;
    align-items: center;
    background-color: rgba(193, 133, 44, 0.5);
    margin: 0 0 1rem 0;
    box-shadow: 2px 2px rgba(77, 99, 111, 0.199);
  }
}
