@import "./normalize.css";

.hero-section {
  background-image: url("../img/LandingPage.jpg");
  width: 100vw;
  height: 588px;
  background-position: right;
  background-position-x: 75%;
  background-size: cover;
}
.hero-section p {
  display: none;
}
.hero-section > #mobile-landing-text {
  position: absolute;
  display: block;
  width: 251px;
  height: 101px;
  right: 50px;
  top: 75px;
  font-size: 38px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-section > a {
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  text-decoration: none;
  right: 50px;

  border: solid #fff 5px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-section > #hero-shop-link {
  position: absolute;
  width: 125px;
  top: 400px;

  padding: 10px 20px 10px 22px;
}
.hero-section > #hero-donate-link {
  position: absolute;
  top: 470px;

  padding: 10px 5px 10px 5px;
}

@media screen and (min-width: 700px) {
  #root {
    width:100%;
    padding: 0 5% 0 5%;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 720px;
    background-image: url("../img/LandingPage.jpg");
    background-size: cover;
  }
  .hero-section #mobile-landing-text {
    display: none;
  }
  .hero-section p:nth-of-type(2) {
    max-width: 40%;
    margin-top: auto;
    margin-right: auto;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.5rem;

    text-transform: uppercase;
    color: #ffffffcc;
    text-align: left;
  }
  .hero-section p {
    display: block;
    text-align: left;
    padding-left: 2rem;
    color: white;
    margin-left: 2rem;
  }

  .hero-section p:nth-of-type(3) {
    display: none;
  }
  .hero-section p:nth-of-type(4) {
    margin-top: auto;
    max-width: 50%;
    margin-bottom:2.5%;
  }
  /* .hero-section > a {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    text-decoration: none;
    right: 50px;
    border: solid #fff 5px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */
  
  .hero-section > #hero-shop-link {
    position: absolute;
    width: 125px;
    top: 75%;
    padding: 10px 20px 10px 22px;
  }
  .hero-section > #hero-donate-link {
    position: absolute;
    top: 85%;
    padding: 10px 5px 10px 5px;
  }
}