@import url("./normalize.css");
/* Screen Reader Class*/

footer {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  text-align: center;
}

footer h2 {
  padding: 15px 0;
}
.contact-us-info {
  background-color: #c1862c;
  padding-bottom: 20px;
}
.contact-us-info > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
.contact-us-info > p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.social-info {
  background-color: #ada29b;
  padding-bottom: 20px;
}

.social-info > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.social-info > span {
  margin: 0 25px;
}

.social-info > p {
  padding-top: 15px;
}

/* .newsletter-info {
  background-color: rgba(35, 61, 76, 0.8);
  padding-bottom: 20px;
}

.newsletter-info > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.newsletter-info > p {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
}
.newsletter-info input {
  background-color: rgba(35, 61, 76, 0.05);
  font-size: 20px;
}
.newsletter-info > form {
  width: 100vw;
  padding: 0;
  margin: 0;
}
.newsletter-info > form > .fname,
.newsletter-info > form > .lname {
  display: inline;
  margin-bottom: 20px;
}
.newsletter-info > form > .fname {
  width: 40%;
}

.newsletter-info > form > .lname {
  margin-left: 30px;
  width: 40%;
}

.newsletter-info > form > input {
  border-bottom: solid #FFF 1px;
}
.newsletter-info > form > .email {
  display: inline;
  width: 75%;
  margin-bottom: 50px;
  margin-right: 15px;
}
.newsletter-info > form > button {
  display: inline;
  background-color: rgba(35, 61, 76, 0.05);
} */

@media screen and (min-width: 700px) {
  /*  .newsletter-info * {
    outline: 1px solid red;
  } */
  footer {
    display: flex;
    flex-direction: column;
  }
  #major-footer,
  #minor-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  #minor-footer {
    color: black;
    font-size: .7rem;
  }
  footer section,#minor-footer p {
    width: calc(100% / 3);
  }
  .newsletter-info, #minor-footer p: :nth-last-of-type(3) {
    width: 50%;
  }
  .newsletter-info {
    color: black;
  }

  .newsletter-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(35, 61, 76, 0.8);
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.541);
  }
  .newsletter-info > h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }
  .newsletter-info > p {
    margin-top: 10%;
  }
  .newsletter-info .newsletter-form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .newsletter-info .newsletter-form input {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .newsletter-info .newsletter-form input::placeholder {
    padding: 0 0 0 0.5rem;
  }
  .newsletter-info .newsletter-form label {
    text-align: left;
    display: none;
  }
  #emailid-send button {
    height: 20px;
    cursor: pointer;
  }
  #fname-lname {
    display: flex;
  }
  #fname-lname input {
    margin-left: 1rem;
  }
}
