@import "./normalize.css";
.hero-section {
  /* position: absolute; */
  background-image: url("../img/LandingPage.jpg");
  width: 100vw;
  height: 588px;
  transform: scaleX(-1);
  background-position: right;
  background-position-x: 75%;
  background-size: cover;
}
.hero-section p {
  transform: scaleX(-1);
  display: none;
}

@media screen and (min-width: 700px) {
  .hero-section {
    opacity: 1;
    width: 1280px;
    height: 720px;
    background-image: url("../img/LandingPage.jpg");
    background-size: contain;
    background-repeat: round;
    transform: scaleX(-1);
  }

  .hero-section p {
    transform: scaleX(-1);
    display: block;
  }
}
