@import "./normalize.css";
.hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../img/LandingPage.jpg");
  width: 100vw;
  height: 588px;
  background-position: right;
  background-position-x: 55%;
  background-size: cover;
}
.hero-section p {
  display: none;
}
.hero-section > #mobile-landing-text {
  max-width: 75%;
  margin-top: 4.5rem;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 0;
  font-weight: 500;
  font-size: 2.75rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}
.hero-section #shop-donate-btns a {
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
  border: solid #fff 5px;
  border-radius: 20px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #4d626ec9;
}
.hero-section p:nth-of-type(2) {
  display: none;
}
.hero-section p {
  display: block;
  text-align: left;
  padding-left: 2rem;
  color: #fff;
  margin-left: 2rem;
  text-shadow: 2px 2px rgba(77, 99, 111, 0.5);
}
.hero-section p:nth-of-type(3) {
  display: none;
}
.hero-section #shop-donate-btns {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
#hero-donate-link,
#hero-shop-link {
  padding: 10px 5px 10px 5px;
  width: 150px;
  margin-right: 1rem;
}
@media screen and (min-width: 600px) {
  .hero-section #shop-donate-btns {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .hero-section p:nth-of-type(2) {
    display: block;
    max-width: 40%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    padding-left: 0;
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
  }
  .hero-section p:nth-of-type(3) {
    display: block;
    max-width: 50%;
    font-size: 1.25rem;
    padding: 0 !important;
    margin-top: 5%;
  }
}
@media screen and (min-width: 1000px) {
  .hero-section {
    width: 100%;
    height: 720px;
    background-image: url("../img/LandingPage.jpg");
  }
  .hero-section #mobile-landing-text {
    display: none;
  }
  .hero-section p:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
  .hero-section #shop-donate-btns {
    justify-content: flex-end;
    margin: 0 3rem 3rem 0;
  }
  .hero-section p:nth-of-type(3) {
    font-size: 2rem;
  }
}
