@import url("./normalize.css");

#know-us-article {
  display: flex;
  flex-direction: column;
  margin: 2.5% 10% 0 10%;
}
#about-us-heading-container {
  background-image: url("../img/about-us.jpg");
  width: auto;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 1rem 0;
}
#about-us-heading {
  background-color: #4d626ea8;
  margin: 0;
  color: #ffffff;
  text-align: center;
}
#vision-heading-container {
  background-image: url("../img/vision.jpg");
  width: auto;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 1rem 0;
}
#vision-heading {
  background-color: #4d626ea8;
  margin: 0;
  color: #ffffff;
  text-align: center;
}
#mission-heading-container {
  background-image: url("../img/mission.jpg");
  width: auto;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 1rem 0;
}
#mission-heading {
  background-color: #4d626ea8;
  margin: 0;
  color: #ffffff;
  text-align: center;
}
#faq-heading-container {
  background-image: url("../img/faq.jpg");
  width: auto;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 1rem 0;
}
#faq-heading {
  background-color: #4d626ea8;
  margin: 0;
  color: #ffffff;
  text-align: center;
}
.know-us-section h2 {
  color: #103245;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.know-us-section h3 {
  font-size: 15px;
  color: #103245;
  margin-bottom: 15px;
}
.know-us-section p {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (min-width: 600px) {
  #about-us-heading-container,
  #vision-heading-container,
  #mission-heading-container,
  #faq-heading-container {
    height: 120px;
  }
  #about-us-heading,
  #vision-heading,
  #mission-heading,
  #faq-heading {
    font-size: 55px;
  }
  #know-us-article {
    margin: 2.5% 10% 0 10%;
  }
  .know-us-section h2 {
    font-size: 40px;

    margin-bottom: 15px;
  }
  .know-us-section h3 {
    font-size: 20px;

    margin-bottom: 15px;
  }
  .know-us-section p {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 150%;
  }
}
@media screen and (min-width: 1000px) {
  #know-us-article {
    margin: 2.5% 20% 0 20%;
  }
}
