@import url("./normalize.css");

body {
  position: relative;
}
#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: fit-content;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.75rem 1.25rem 0.75rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 5px 8px #888888;
}
.login-email-input {
  display: block;
  margin: 0.25rem 1rem 0.5rem 1rem;
  height: 50px;
  padding: 0 0 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.85rem;
  color: #4d626e;
  border: none;
  border-bottom: 1px solid #4d626e;
  border-top: 1px solid #4d626e;
}
.login-password-input {
  display: block;
  height: 50px;
  padding: 0 0 0.25rem 0.75rem;
  margin: 0.25rem 0.5rem 0 1rem;
  border-radius: 15px;
  font-size: 0.85rem;
  color: #4d626e;
  border: none;
  border-bottom: 1px solid #4d626e;
  border-top: 1px solid #4d626e;
}
#login-submit {
  height: 50px;
  width: 150px;
  margin: 1.5rem 2rem 0 1rem;
  padding: 0 25px;
  color: white;
  background: #4d626e;
  font-size: 1.25rem;
  font-weight: 500;
  align-self: flex-start;
  text-align: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.loginform-overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000000a2;
  z-index: 3;
  cursor: pointer;
}
#loginForm span svg {
  color: #4d626e;
  width: 30px;
  height: 30px;
}
.loginform-overlay #loginForm > h2 {
  margin: 0 0 1rem 0;
  color: #4d626e;
  text-align: center;
  font-size: 2rem;
}
.overlayShow {
  display: block;
}
#login-email-input::placeholder,
#login-password-input::placeholder {
  color: #4d626e;
  font-size: 0.8rem;
  font-style: italic;
}
#login-email-input:focus,
#login-password-input:focus {
  background-color: #d6e4e9;
}
#loginForm > label {
  margin: 0 0 0 2rem;
  color: #4d626e;
  font-weight: 500;
  font-size: 1rem;
}
.required-field {
  color: #ff0000;
}
.loginform-overlay .note {
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 1rem;
  text-align: right;
}
@media screen and (min-width: 600px) {
  #loginForm {
    width: 60%;
    height: auto;
    padding: 1.5rem;
  }
  @media screen and (min-width: 1000px) {
    #loginForm {
      width: 30%;
      height: auto;
      padding: 1.5rem;
    }
  }
}
