@import url("./normalize.css");
.product-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 450px;
  background-color: #FFF;
  border-radius: 15px;
  margin: 10px auto;
  border: solid 1px #4d626e;
}
.product-title {
  width: 100%;
  color: #4D626E;
  text-align: center;
  padding: 5px 15px 0 15px;
  max-height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-image {
  max-width: 270px;
  max-height: 270px;
  border-radius: 15px;
  margin: 0 auto;
  border: solid white 1.5rem;
  background-color: #fff;
  opacity: 1;
}
.product-image-container {
  width: 100%;
  text-align: center;
  align-items: center;
}
.product-card-options {
  display: grid;
  grid-template-columns: 
  60% 40%;
  grid-template-areas: 
  "cartOption cartOption"
  "view       price";
  border-top: solid #4D626E 3px;
  margin: 10px auto;
  width: 90%;
}
.cart-option {
  text-align: left;
  grid-area: cartOption;
  color: #4D626E;
  background-color: rgba(255,255,255,0);
  font-size: 20px;
  font-weight: bold;
}
.product-price {
  grid-area: price;
  color: #4D626E;
  font-size: 30px;
}
.product-view-button {
  grid-area: view;
  color: #4D626E;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  font-weight: bold;
}
.shopping-cart {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .product-card-container {
    width: 250px;
    display: inline-flex;
    margin: 15px 4%;
  }
  .product-title {
    font-size: 20px;
    max-height: 50px;
  }
  .product-image {
    width: 80%;
    height: auto;
    max-width: 180px;
    max-height: 220px;
  }
  .product-card-options {
    grid-template-columns: 60% 40%;
    grid-template-areas:
      "cartOption cartOption"
      "view       price";
  }
  .product-price {
    font-size: 25px;
  }
  .cart-option {
    font-size: 18px;
  }
  .product-card-options svg {
    font-size: 30px;
  }
  #product-q-view {
    display: flex;
    align-items: center;
  }
  .product-view-button {
    font-size: 17px;
    height: 20px;
  }
  #product-q-view svg {
    font-size: 25px;
  }
}
@media screen and (min-width: 1000px) {
  .product-card-container {
    width: 250px;
    margin: 15px 1%;
  }
}
