@import url("./normalize.css");
.shopping-navigation-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#search-form {
  width: 100%;
}
#search-input {
  color: #fff;
  padding-left: 25px;
  width: 70%;
  height: 46px;
  border-radius: 15px;
  background-color: #4d626e;
  margin-left: 15%;
  margin-top: 15px;
}
#search-icon {
  position: relative;
  right: 30px;
  top: 5px;
  color: #fff;
}
#search-input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-style: italic;
  font-size: 20px;
}
.shopping-nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.shopping-nav-container input {
  width: 5%;
  margin-left: 15%;
  margin-right: 5px;
}
.shopping-nav-container label {
  width: 70%;
  color: #4d626e;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
}
.shopping-navigation-component h3 {
  color: #1c3656;
  margin: 10px 30px;
  border-top: solid black 2px;
  width: 100%;
  padding-left: 5%;
}
@media screen and (min-width: 600px) {
  .shopping-navigation-component {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .shopping-nav-container {
    width: calc(100% / 3);
    text-align: center;
    margin-top: 10px;
  }
  .shopping-nav-container label {
    width: 60%;
  }
  #search-input::placeholder {
    font-size: 20px;
  }
  #search-input {
    padding-left: 15px;
  }
  .shopping-nav-container input {
    transform: scale(1.5);
  }
  .shopping-nav-container label {
    padding-left: 5px;
    margin-bottom: 5px;
  }
  .shopping-nav-container input {
    width: 5%;
    margin-left: 25%;
    margin-right: 5px;
  }
  .shopping-navigation-component h3 {
    margin: 5px 30px;
    text-align: left;
  }
  #search-input {
    margin-left: 0;
  }
}
@media screen and (min-width: 1000px) {
  .shopping-nav-container {
    width: 100%;
  }
}
