@import url("./normalize.css");

@media screen and (min-width: 600px) {
  #shopping-page-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "ShopNav"
      "ShopLayout";
    margin: 0;
    text-align: center;
  }
  .shopping-navigation-component {
    grid-area: ShopNav;
  }
  .shopping-product-layout-container {
    grid-area: ShopLayout;
  }
  .product-details-overlay {
    grid-area: productDetail;
  }
}
@media screen and (min-width: 1000px) {
  #shopping-page-layout {
    box-sizing: content-box;
    width: 100vw;
    grid-template-columns: 80% 20%;
    grid-template-areas:
      "ShopLayout ShopNav"
      "ShopLayout productDetail";
  }
}
