@import url("./normalize.css");

#cart-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #4d626e;
  flex-wrap: wrap;
  width: 100%;
}

#cart-items {
  display: flex;
  flex-direction: column;
  /* height: 20px;*/
  padding: 10px 0;
  justify-content: center;
}
#shopping-cart {
  padding-top: 5px;
  margin: 10px 0;
}
#shopping-cart > h1 {
  padding-top: 5px;
  margin: 10px 0;
  text-align: center;
}

/* For Borders */
#cart-items,
#pickup,
#subtotal,
#bd-section,
#cc-section {
  border-top: 1px solid #4d626e;
  margin-left: 15px;
  margin-right: 15px;
}
/* #cart-container * {
  outline: 1px solid red;
} */

#cart-container img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
  /* align-self: flex-start; */
}
#cart-container {
  text-align: center;
}

.required-field {
  color: rgba(255, 0, 0, 0.5);
}

#shopping-required-note .required-field note {
  /* Required field note at the bottom */
  color: #ff0000;
  font-size: 0.55rem;
  font-style: italic;
}
#schedule {
  font-size: 14px;
}

#pickup,
#schedule,
#description p {
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100px;
  height: 145px; */
  padding: 10px 0;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  text-align: center;
}
#price {
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  /* align-items: center; */
  /* text-align: center; */
  background-color: #fff;
  color: #4d626e;
  justify-content: center;
}

#text-container {
  flex-direction: row;
}
#qty input[type="number"] {
  width: 40px;
  align-items: center;
  text-align: center;
}

#description {
  text-align: left;
}

.plus,
.minus,
.rmv-btn {
  color: #4d626e;
  background-color: #c4c4c4;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 1px;
  padding: 5px;
}

#subtotal p {
  /* align-items: center;
  text-align: center; */
  /* justify-content: space-evenly; */
  color: #4d626e;
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  background-color: #fff;
  justify-content: center;
}

#pickup {
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 14px;
  background-color: #fff;
  color: #4d626e;
}

#qty-status {
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: #fff;
}
#btn-order,
#btn-back {
  width: 300px;
  height: 40px;
  color: #fff;
  background: #4d626e;
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
  text-align: center;
  padding: 20px auto;
  margin: 30px auto;
  border: 2px solid #fff;
  border-radius: 10px;
  justify-content: flex-end;
  /* box-shadow: 1px 5px 5px 3px #888888; */
}

#btn-order .required-field note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#btn-order:hover {
  background-color: #90aab9;
  cursor: pointer;
}

#btn-back a {
  color: #fff;
  text-decoration: none;
}

#btn-order,
#btn-back:hover {
  background-color: #4d626e;
  cursor: pointer;
}
