#search-form {
  margin-right: auto;
  margin-left: auto;
  width: 75vw;
}
#search-icon {
  position: relative;
  display: inline;
  left: 200px;
  bottom: 35px;
  color: #fff;
}
#search-input {
  width: 246px;
  height: 46px;
  border-radius: 15px;
  background-color: #4d626e;
}
#search-input::placeholder {
  padding-left: 25px;
  color: #fff;
  opacity: 0.5;
  font-style: italic;
  font-size: 25px;
}
.shopping-navigation-component h3 {
  color: #1c3656;
  margin: 10px 0;
}
.shopping-navigation-component label {
  color: #4d626e;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: inline-block;
  margin-left: 10px;
  width: 90%;
}
.shopping-navigation-component > .shopping-nav-container {
  border-top: 1px solid #000000;
  width: 65%;
  padding-bottom: 5px;
  margin-left: 15%;
}
