@import url("./normalize.css");
.sticky-header {
  display: none;
}
@media screen and (max-width: 1000px) {
  .sticky-header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
    background-color: rgba(183, 145, 87, 0.9);
    width: 100vw;
  }
  .sticky-header > #cart-button {
    position: fixed;
    right: 75px;
    top: 10px;
    text-decoration: none;
    color: #233d4c;
    padding: 5px;
    font-weight: 700;
    border: 1px solid #233d4c;
    border-radius: 10px;
  }
  .sticky-header > a > #sticky-icon {
    display: flex;
    justify-content: center;
  }
  .sticky-header .logo img {
    width: 120px;
    height: 25px;
    margin: 0.75rem 1rem 0 0.5rem;
  }
  .sticky-header .shopping-cart {
    display: flex;
    justify-content: center;
  }
  .sticky-header .hamburger-menu-icon {
    margin: 5px 15px;
  }
}
