@import url("./normalize.css");

#thankyou-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url("../img/thankyou.jpg");
  width: 100%;
  height: 588px;
  background-position: right;
  background-position-x: 55%;
  background-size: cover;
}
#thankyou-img p {
  width: 100%;
  padding: 2rem 0 2rem 0;
  margin-top: 5rem;
  font-weight: 500;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 5px 5px #ffbc04;
}
#thankyou-img span a,
#thankyou-img span p {
  text-align: center;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  background: #808080;
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 1000px) {
  #thankyou-img p {
    margin: 0 auto 0 auto;
    font-size: 5rem;
  }
}
